/*
 * ==========================================================================
 * Authorviz
 ==========================================================================
 */


/* Reset */
html, body {
  height: 100%;
}

.authorviz * {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}





/* Utilities */
.txt-c {
  text-align: center;
}

.hideVisually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}




/* Layout */
.l-half {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

.l-half--left {
  left: 0;
}

.l-half--top {
  bottom: 70%;
}

.l-half--right {
  right: 0;
}

.l-half--bottom {
  top: 20%;
}




/* Object */
.aligner {
  position: relative;
  height: 400px;
}

    .aligner-item {
      position:  absolute;
      top:       15%;
      left:      0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width:     100%;
      height:    auto;
    }

    .aligner-item-top {
      top:       0;
      transform: translate(0, 0);
    }

    .aligner-item-bottom {
      top:       auto;
      bottom:    0;
      transform: translate(0, 0);
    }


/* Button */
.btn {
  /* STRUCTURE */
  display: inline-block;
  margin: 0;
  appearance: none;
  position: relative;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  border: 0;
  background: none;
  text-align: center;


  /* SKIN */
  padding:        8px 26px;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-default {
  background: #000;
  color: white;
}

.btn-primary {
  background: transparent;
  border: 2px solid #E25A5A;
  color: #E25A5A;
}

.btn-primary:hover {
  background: #E25A5A;
  color: white;
}

.btn-primary-alt {
  background: transparent;
  border: 2px solid #B6F9B2;
  color: #B6F9B2;
}

.btn-primary-alt:hover {
  background: #B6F9B2;
  color: white;
}





/* Utils */
.is-disabled {
  pointer-events:none;
}




/* Component */
.authorviz, .authorviz__layout {
  position: fixed;
  z-index: 50000;
}


.authorviz__wrap--left {
    background: rgba(32,38,47,0.95);
/*    background: white;*/
}

.authorviz__wrap--top {
    background: rgba(32,38,47,0.95);
/*    background: white;*/
}

.authorviz__wrap--right {
  background: white;
}

.authorviz__wrap--bottom {
  background: white;
}


.authoviz__box {
  position: relative;
  padding: 100px 60px;
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
  overflow: auto;
  z-index: ;
}

.authorviz__intro {
  height: 200px;
  padding: 0 30px;
    
}


.authorivz__doc-title {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
    position: relative;
    top: 5px;
    margin: 0 auto;
}


.authorviz__author {
  max-height: 200px;
  margin: 0 auto;
}


.authorviz__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}


.authorviz__print-btn {
  position: absolute;
  top: 30px;
  right: 140px;
}



/* Progress Bar */
.authorviz__progress-bar {
  position: relative;
    bottom: 0px;
    top: 65px;
  width: 100%;
  max-width: 400px;
  height: 8px;
  margin: 0 auto;
  background: #555;
}

    .authorviz__progress-bar-item {
      position: absolute;
      top: 0px;
      left: 0;
      height: 100%;
      width: 0;
      background: #4BAD7A;
    }

.authorviz__loading-text {
  color: #999;
    position: relative;
    top: 70px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
