/*
 * ==========================================================================
 * docuviz
 ==========================================================================
 */


/* Reset */
html, body {
  height: 100%;
}

.docuviz * {
  box-sizing: border-box;
  font-family: Consolas, sans-serif;
  font-size: 12px;
  line-height: 1.8;
}





/* Utilities */
.txt-c {
  text-align: center;
}

.hideVisually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}




/* Layout */
.l-half-docuviz {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

.l-half--left-docuviz {
  left: 0;
}

.l-half--top-docuviz {
  bottom: 88%;
}

.l-half--right-docuviz {
  right: 0;
}

.l-half--bottom-docuviz {
  top: 12%;
}




/* Object */
.aligner-docuviz {
  position: relative;
  height: 400px;
}

    .aligner-item-docuviz {
      position:  absolute;
      top:       9%;
      left:      0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width:     100%;
      height:    auto;
    }

    .aligner-item-top-docuviz {
      top:       0;
      transform: translate(0, 0);
    }

    .aligner-item-bottom-docuviz {
      top:       auto;
      bottom:    0;
      transform: translate(0, 0);
    }


/* Button */
.btn-docuviz {
  /* STRUCTURE */
  display: inline-block;
  margin: 0;
  appearance: none;
  position: relative;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  border: 0;
  background: none;
  text-align: center;


  /* SKIN */
  padding:        8px 26px;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-default {
  background: #000;
  color: white;
}

.btn-primary {
  background: transparent;
  border: 2px solid #E25A5A;
  color: #E25A5A;
}

.btn-primary:hover {
  background: #E25A5A;
  color: white;
}

.btn-primary-alt {
  background: transparent;
  border: 2px solid #B6F9B2;
  color: #B6F9B2;
}

.btn-primary-alt:hover {
  background: #B6F9B2;
  color: white;
}





/* Utils */
.is-disabled {
  pointer-events:none;
}




/* Component */
.docuviz, .docuviz__layout {
  position: fixed;
  z-index: 50000;
}


.docuviz__wrap--left {
    background: rgba(32,38,47,0.95);
/*    background: white;*/
}

.docuviz__wrap--top {
    background: rgba(32,38,47,0.95);
/*    background: white;*/
}

.docuviz__wrap--right {
  background: white;
}

.docuviz__wrap--bottom {
  background: white;
}


.docuviz__box {
  position: relative;
  padding: 10px 20px;
  margin: 10px 20px;
  max-width: 95%;
  height: 100%;
  overflow: auto;
  z-index: ;
  display: block;

}

.docuviz__intro {
  height: 150px;
  padding: 0 30px;
    
}


.docuviz__doc-title {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
    position: relative;
    top: 5px;
    margin: 0 auto;
}


.docuviz__author {
  max-height: 150px;
  margin: 0 auto;
}


.docuviz__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}


.docuviz__print-btn {
  position: absolute;
  top: 30px;
  right: 140px;
}



/* Progress Bar */
.docuviz__progress-bar {
  position: relative;
    bottom: 0px;
    top: 65px;
  width: 100%;
  max-width: 400px;
  height: 8px;
  margin: 0 auto;
  background: #555;
}

    .docuviz__progress-bar-item {
      position: absolute;
      top: 0px;
      left: 0;
      height: 100%;
      width: 0;
      background: #4BAD7A;
    }

.docuviz__loading-text {
  color: #999;
    position: relative;
    top: 70px;
}


.y.axis path,
.y.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


/*
.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar {
  fill: steelblue;
}



.chart-component {
    position: relative;
    top: -10;
    /*left: 0px;*/
    height: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    opacity: .97;
    display: block;
}


.chart__controller {
    position: relative;
    height: 100%;
    background: #ffffff;
}


.controller__btn-wrap {
    float: left;
    display: inline-block;
    height: 100%;
}

.controller__slider {
    width: auto;
    overflow: hidden;
    position: relative;
    height: 100%;
}


.slider-bar-wrap {
    width: auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}